<template>
  <div id="app">
    <thumbnail-outer>
      <thumbnail
        v-for="(pic, index) in previews"
        :key="index"
        :img="pic"
        :thumb="pic"
        :thumbClasses="['someClass']"
        :linkClasses="['someClass']"
        :index="index"
      ></thumbnail>
    </thumbnail-outer>
  </div>
</template>

<script>
import pic1 from '@/assets/pic1.png'
import pic2 from '@/assets/pic2.png'

export default {
  name: 'App',
  data () {
    return {
      pic1: pic1,
      pic2: pic2,
      previews: []
    }
  },
  mounted () {
    this.previews.push(this.pic1)
    this.previews.push(this.pic2)
  }
}
</script>
