.thumb-img{
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 99999;
  left: 0;
  right: 0;
  overflow: hidden;
  &__img{
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 720px;
    overflow-y: auto;
    height: 100%;
    text-align: center;
    margin: auto;
    &::-webkit-scrollbar{
      width: 0;
    }
    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px;
      @media (max-width: 769px) {
        display: none;
      }
    }
    img{
      max-width: 100%;
      max-height: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      vertical-align: middle;
    }
  }
  &__bg{
    position: fixed;
    top: 0;
    height: 100%;
    background-color: rgba(#000, 0.4);
    z-index: 9999;
    left: 0;
    right: 0;
    overflow: hidden;
  }
}

.thumbs-control{
  position: fixed;
  z-index: 99999;
  top: 50%;
  font-size: 20px;
  width: 40px;
  height: 40px;
  background-size: 26px 26px;
  background-position: center;
  padding: 10px;
  border-radius: 50%;
  background-repeat: no-repeat;
  &:hover{
    background-color: rgba(#000, 0.4);
  }
  &--left{
    left: 20px;
    background-image: url(./left-arrow.svg);
  }
  &--right{
    right: 20px;
    background-image: url(./right-arrow.svg);
  }
}

.thumb-open{
  overflow: hidden;
}

.switch-pic-enter-active, .switch-pic-leave-active {
  .thumb-img__img{
    transition-property: opacity;
    transition-duration: 0;
  }
}

.switch-pic-enter-active {
  transition-duration: .3s;
  .thumb-img__img{
    transition-duration: .3s;
  }
}

.switch-pic-enter, .switch-pic-leave-active {
  .thumb-img__img{
    opacity: 0;
  }
}